body{
    background-color: #e3ece8;
}
a img{
    height: 51px;
}
.bg-primar{
    background-color: #562EFF;
}
.top-brand{
    color: white;
  text-align: center;
}
.navbar{
    margin-bottom: 20px;
}
.top-profile{
    background-color: white;
}
.top-profile h3{
    color: #562EFF;
    padding-left: 25px;
    padding-top: 35px;
}
.row div img{
    width: 56px;
}
.profiles{
    margin-top: 50px;
    padding-left: 80px;
}
.col-md-4{
    padding: 15px;
}
hr{
    padding-bottom: 10px;
}
main{
    max-width: 870px;
}
.header{
    max-width: 870px;
}
.top-profile{
    background-color: #ffffff;
    border-radius: 5px;
}