body{
    background-color: #e3ece8;
}
a img{
    height: 51px;
}
.bg-primar{
    background-color: #562EFF;
}
.top-brand{
    color: white;
  text-align: center;
}
.navbar{
    margin-bottom: 30px;
}
.top-profile{
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
}
.top-pl{
    color: #562EFF;
    padding-left: 25px;
    padding-top: 35px;
}
.rows div img{
    width: 56px;
}
.profiles{
    margin-top: 50px;
    padding-left: 80px;
}
.col-md-4{
    padding: 15px;
}
main{
    max-width: 870px;
}
.header{
    max-width: 870px;
}
.top-bl{
    color: #562EFF;
    padding-left: 25px;
    padding-top: 15px;
}
.blog-img{
    width: 177px;
    margin: 15px 10px 10px 20px;
}
.bottom-igm{
    padding-bottom: 30px;
}
.blog-text{
    padding-top: 15px;
}
.blog-name span{
    color: gray;
    font-size: 18px;
}
.blog-name{
    color: #562EFF;
    font-size: 19px;
}
.blog-text h4{
    line-height: 1.4;
    font-size: 22px;
}
.bolding{
    font-weight: 500;
}
.card-footer{
    border: none;
    background-color: #ffffff;
}
.card{
    border: none;
}
.card-footer .star img{
    width: 14px;
}
.card-footer .time img{
    width: 20px;
}
.card-footer .time p{
    font-size: 14px;
    color: #FF4A60;
}
.time{
    background-color: rgb(247, 221, 221);
    padding: 2px 8px;
    border-radius: 20px;
}
.card-text{
    color: #f56e7e;
}